ol {
    font-size: 30px;
    line-height: 50px;
    margin-left: 200px;
}

.part1,
.part2 {
    background-color: rgb(241, 179, 179);
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    border: 2px solid black;
}

h3 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}