.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    border: 2px solid black;
    padding: 10px;  
    margin: 10px;
}
.item1{
    height: 400px;
    
}
.item4{
    height: 400px;
    
}